{% extends '::base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome" class="">
                <img class="img-responsive" src="{{ asset('bundles/app/images/sustainabilitylogo.jpg') }}"></a>
                <h1><span>Welcome to</span> the Sustainability Certificate </h1>
                <p>The Sustainability Certificate will go before the Univeristy Council for final approval on February 17.</p>
                <p>We are currently developing this site to support the certificate.  Please check back for updates.</p>
                <p>To apply to participate in the certificate or to propose a course for one of the pillars, please email the director (scdirector@uga.edu).</p>
                <hr/>
                <p>Ron Balthazor, Director</p>
                <p>Talley Vodicka, Administrative Specialist</p>
                <p>Lindsey Bineau, Intern</p>
                <p>Email: scdirector@uga.edu </p>
            </div>

        </div>
    </div>
{% endblock %}
