{% extends '::base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> the development site for the Certificate of Sustainability</h1>
            </div>

        </div>
    </div>
{% endblock %}
