{% extends '::base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> the Sustainability Certificate </h1>
                <p>We are currently developing this site to support the certificate.  Please check back soon.</p>
                <p>To contact the director of the certificate, please email scdirector@uga.edu.</p>
            </div>

        </div>
    </div>
{% endblock %}
