{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-sm-0 offset-sm-1">
            <h1>Schools</h1>

                {% for entity in entities %}
                    <a href="{{ path('school_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
                {% endfor %}
            </div>

        </div>

    </div>

{% endblock %}
