

body {
    font-family: 'Merriweather Sans', sans-serif;
}

.container-fluid {
    padding: 0;
    margin-top: 5em;

}

.navbar-brand, h1 {
    font-family: 'Merriweather', serif;
    padding: .5rem;
}

.padding {
    padding-left: 10px;
    padding-right: 10px;
}

.col-sm-8 {
    padding: 2em;
}

.cert-logo {
    position:fixed;
    bottom:0px;
    max-height: 5rem;
    margin: 1rem;
}
/**********  Accessibility **********/
#skip a, #skip a:hover, #skip a:visited {
    position: absolute;
    left: 0;
    top: -500px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip a:active, #skip a:focus {
    position: static;
    display: inline-block;
    width: auto;
    height: auto;
}

/**********  Navbar **********/

.navbar {
    padding: 1rem;
    background-color: #000000;
}

.navbar-nav li a {
    color: #fff;
    font-size: 11pt;
}

.navbar-sidenav li  {
    color: #000;
    font-size: 12pt;
    font-weight: 600;
}

.navbar-sidenav li a {
    color: #971c1e;
    font-size: 12pt;
    font-weight: 600;
}

.nav-header {
    font-size: 12pt;
    font-weight: 600;
    padding-bottom: .5rem;
    padding-top: .5rem;
    border-bottom: #cccccc solid 1px;
}

.navbar-logo {
    padding: 0;
    margin: 0;
}

.navbar-brand {
    padding: 0;
    margin: -.6rem;
    margin-right: 0;
}

.navbar-sidenav .nav-item {
    padding-bottom: .5rem;
    padding-top: .5rem;
    border-bottom: #cccccc solid 1px;
}

.bootstrap-vertical-nav > .navbar {
    padding: 1rem;
    padding-left: 2rem;
    background-color: #fff;
}

.dropdown-item {
    color:black !important;
}


.subnavbar {
    margin-top: -1.5em;
    padding: 1rem;
    background-color: #c0c0c0;
}

.subnavbar li a {
    color: #000;
    font-size: 11pt;
}
/**********  Forms **********/

div.radio > label {
    padding-left: 5px;
    padding-right: 5px;
}

.radio input[type="radio"] {
    position: inherit;
    margin-left: 10px;
}

.btn-primary, .btn-primary:visited {
    background-color: #971c1e;
    color: #fff;
    border: #fff;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #BA0C2F;

}

form div div {
    margin-bottom: 20px;
}

input + label {
    margin-right: 15px;
}

hr {
    margin-bottom: 3rem;
}
/**********  calendar **********/

.fc-event-title {
    cursor: pointer;
}

/********** forum ***********/
.card-forum {
    margin-top: 2rem;
}

/********** utlilites ***********/

.margin {
    margin: 1rem 1rem 1rem 1rem;
}

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}


.margin-left {
    margin-left: 1rem;
}

.margin-right {
    margin-right: 1rem;
}

.inline {
    display: inline-block;
    margin-right: 1rem;
}

.expand {
    font-size: 2em;
    padding-top: 0;
    padding-bottom: 0;
}

.subhead {
    font-size: larger;

}

h1 {
    font-size: 2.1rem;
}


h5 > a {
    color: #000;
    font-weight: normal;
}

a, a:hover, a:active {
    color: #971c1e;
}

.card-title > a {
    color:#000
}

.alert {
    padding:.5rem
}

/********** homepage ***********/

.marketing {
    margin: 3rem;
}

#myCarousel {
    margin-top: -1.5em;
}

.carousel-caption p {
    font-size: larger;
}

footer {
    padding: 5rem;
    background-color: #464906;
    color: #fff;
    font-size: 11pt;
}

footer a {
    color: #fff;
    font-size: 11pt;
}

.scrollbtn {
    margin-top: 8rem;
}

.tag_filter {
    margin-bottom: .3rem;
}
/********** datetimepicker *************/
.datetimepicker table {
    margin: 0;
}
.datetimepicker td {
    padding: 10px;
}

.datetimepicker .next {
    background-color: #eaeaea;
}

.datetimepicker .prev {
    background-color: #eaeaea;
}


/* Official UGA Branding Colors*/

.arch-black {
    background-color: #000000 !important;
}
.arch-black * {
    color: #CCCCCC !important;
}

.bulldog-red {
    background-color: #BA0C2F !important;
}
.bulldog-red * {
    color: #971c1e !important;
}

.chapel-bell-white {
    background-color: #FFFFFF !important;
}
.chapel-bell-white * {
    color: #404040 !important;
}

.glory-glory {
    background-color: #E4002B !important;
}
.glory-glory * {
    color: #FFFFFF !important;
}

.hedges {
    background-color: #BFB800 !important;
}
.hedges * {
    color: #3F3D00 !important;
}

.lake-herrick {
    background-color: #00A3AD !important;
}
.lake-herrick * {
    color: #002B2D !important;
}

.pandora {
    background-color: #FFCD00 !important;
}
.pandora * {
    color: #665200 !important;
}

.jackson-oak {
    background-color: #B7BF10 !important;
}
.jackson-oak * {
    color: #464906 !important;
}

.olympic {
    background-color: #004E60 !important;
}
.olympic * {
    color: #E0F9FF !important;
}

.sanford {
    background-color: #554F47 !important;
}
.sanford * {
    color: #E9E7E5 !important;
}

.herty-field {
    background-color: #594A25 !important;
}
.herty-field * {
    color: #E8DFC8 !important;
}

.athens {
    background-color: #66435A !important;
}
.athens * {
    color: #F1EAEF !important;
}

.stegeman {
    background-color: #9EA2A2 !important;
}
.stegeman * {
    color: #FFFFFF !important;
}

.creamery {
    background-color: #D6D2C4 !important;
}
.creamery * {
    color: #3D392B !important;
}

.odyssey {
    background-color: #C8D8EB !important;
}
.odyssey * {
    color: #223E5F !important;
}
