body {
    font-family: 'Open Sans', 'Arial', 'sans-serif';
}

.main-content {
    margin-top: 5vh;
}

.navbar-brand, h1, h2, h3 {
    font-family: 'Cardo', serif;
}

.padding {
    padding-left: 10px;
    padding-right: 10px;
}

/**********  Accessibility **********/
#skip a, #skip a:hover, #skip a:visited
{
    position:absolute;
    left:0;
    top:-500px;
    width:1px;
    height:1px;
    overflow:hidden;
}

#skip a:active, #skip a:focus {
    position: static;
    display: inline-block;
    width: auto;
    height: auto;
}

/**********  Navbar **********/

.navbar {
    margin-bottom: 0;
    margin-left: 2%;
    margin-right: 2%;
}
.navbar-default {
    background-image: url(../images/jumbotron.jpg);

}

header .navbar-default .navbar-nav li a {
    color: #fff;
}

.navbar-logo {
    padding: 5px;
}

.navbar-brand  {
    color: #fff !important;
}

.navbar li a {
    color: #fff !important;
}

.navbar-left {
    background-color: #6c9336;
}

.navbar-header {
    padding-left: 5px;
    color: #fff !important;
}


/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
        color: #fff !important;
    }

}


/**********  Forms **********/


div.radio > label {
    padding-left: 5px;
    padding-right: 5px;
}

.radio input[type="radio"] {
    position: inherit;
    margin-left: 10px;
}

.btn-primary {
    background-color: #6c9336;
    color: #fff;
    border: #fff;
}

/********** homepage ***********/

.landing {
    margin-top: -5vh;
}

.landing-section {
    height: 50vh;
}
.jumbotron {
    color: #fff;
    background-image: url(../images/jumbotron.jpg);
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    padding-top: 40vh;
}



h1.header {
    font-weight: bold;
}
span.header {
    color: #fff;
}


