body {
    font-family: 'Merriweather Sans', sans-serif;
}

.container-fluid {
    padding: 0;
    margin-top: 5em;
}


.navbar-brand, h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', serif;
    padding: .5rem;
}

.padding {
    padding-left: 10px;
    padding-right: 10px;
}

.col-sm-8 {
    padding: 2em;
}


/**********  Accessibility **********/
#skip a, #skip a:hover, #skip a:visited
{
    position:absolute;
    left:0;
    top:-500px;
    width:1px;
    height:1px;
    overflow:hidden;
}

#skip a:active, #skip a:focus {
    position: static;
    display: inline-block;
    width: auto;
    height: auto;
}

/**********  Navbar **********/

.navbar {
    padding: 1rem;
    background-color: #567f20;
}
.navbar-nav li a {
    color: #fff;
    font-size: 11pt;
}

.navbar-sidenav li a {
    color: #971c1e;
    font-size: 12pt;
    font-weight: 600;
}
.nav-header {
    font-size: 12pt;
    font-weight: 600;
    padding-bottom: .5rem;
    padding-top: .5rem;
    border-bottom: #cccccc solid 1px;
}

.navbar-logo {
    padding: 0;
    margin: 0;
}

.navbar-brand {
    padding: 0;
    margin: -.6rem;
    margin-right: 0;
}

.navbar-sidenav .nav-item {
    padding-bottom: .5rem;
    padding-top: .5rem;
    border-bottom: #cccccc solid 1px;
}

.bootstrap-vertical-nav > .navbar {
    padding: 1rem;
    padding-left: 2rem;
    background-color: #fff;
}


/**********  Forms **********/


div.radio > label {
    padding-left: 5px;
    padding-right: 5px;
}

.radio input[type="radio"] {
    position: inherit;
    margin-left: 10px;
}

.btn-primary, .btn-primary:visited {
    background-color: #971c1e;
    color: #fff;
    border: #fff;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #771b1d;

}

form div div {
    margin-bottom: 20px;
}

input + label {
    margin-right: 15px;
}

/**********  calendar **********/

.fc-event-title {
    cursor: pointer;
}

/********** forum ***********/
.card-forum {
    margin-top: 2rem;
    }

/********** utlilites ***********/

.margin-top {
    margin-top: 1rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.inline {
    display: inline-block;
    margin-right: 1rem;
}

.expand {
    font-size: 2em;
    padding-top: 0;
    padding-bottom: 0;
}
/********** homepage ***********/


.marketing {
    margin-top: 3rem;
}

#myCarousel {
    margin-top: -1.5em;
}

.carousel-caption p {
    font-size: larger;
}

footer {
    padding: 5rem;
    background-color: #567f20;
    color: #fff;
    font-size: 11pt;
}

footer a {
    color: #fff;
    font-size: 11pt;
}

.scrollbtn {
    margin-top: 8rem;
}




